---
import Layout from "../layouts/Layout.astro";
---

<Layout title="green">
  <main class="bg-black">
    <a
      transition:name="color"
      href="/red"
      class="p-4 rounded bg-green-500 text-white w-20 h-10 absolute bottom-0 right-0"
      >Go to red</a
    >
  </main>
</Layout>
