---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { fetchImages, isErrorResponse } from "../api/client";
import ImageCard from "../components/ImageCard.astro";

const response = await fetchImages();
console.log(response);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Image collection</h1>
    <ul transition:name="pepe" role="list" class="link-card-grid">
      {
        isErrorResponse(response) ? (
          <div>Error</div>
        ) : (
          response.photos.map((photo) => (
            <li>
              <ImageCard url={photo.src.small} />
            </li>
          ))
        )
      }
    </ul>
  </main>

  <style></style>
</Layout>
