---
import Layout from '../layouts/Layout.astro'
---

<Layout title='red'>
  <main class='bg-black'>
    <a
      transition:name='color'
      href='/green'
      class='p-4 rounded bg-red-500 text-white w-20 h-10 absolute top-0 left-0'
      >Go to green</a
    >
  </main>
</Layout>
